/* MusicUploadForm.css */

div {
  margin-top: 20px;
}
.upload_file{
  width: 200px;
  transition: 0.3s;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.uploaded-song {
  margin-top: 20px;
}

p {
  font-size: 16px;
  color: #333333;
}

/* Dropzone styles */
.dropzone {
  border: 2px solid #cccccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  
}


.dropzone p {
  margin: 0;
}

.dropzone.active {
  border-color: #ff3366;
}

.dropzone:hover {
  background-color: #f9f9f9;
}

.dropzone input {
  display: none;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  /* Add responsive styles for smaller screens if needed */
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}
